body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: 0;
}

/* Page Section */

.page {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

/* Content Section */

#content {
    flex-grow: 10;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

/* QR code Section */

.qr-code-container {
    background-color: hsl(0, 0%, 100%);
    width: 315px;
    padding: 18px;
    border-radius: 24px;
    box-shadow: 0 0 52px hsla(0, 0%, 0%, 0.05);
}

.qr-code-image {
    width: 100%;
    border-radius: 12px;
}

.qr-code-header {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.qr-code-description {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 0 32px 10px;
}

/* Footer Section */

#footer {
    margin: 24px;
}

/* Attribution Section */

.attribution {
    font-size: 12px;
    color: hsl(220, 15%, 55%);
}

/* Button Section */

.btn {
    text-decoration: none;
    margin: 2px;
    padding: 4px;
    border-radius: 8px;
    font-weight: 500;
}

.btn-primary {
    background-color: hsl(216, 95%, 57%);
    color: white;
}

.btn-primary:hover {
    background-color: hsl(216, 100%, 65%);
}